<div class="container p-4 rounded-4 bg-dark text-white mt-5">
  <h2 class="mb-4">Shopping Cart</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div
      class="row mb-3 align-items-center border-bottom pb-3"
      *ngFor="let item of cartItems"
    >
      <div class="col-md-2">
        <img
          [src]="item.product.thumbnail"
          class="img-fluid"
          [alt]="item.product.title"
        />
      </div>
      <div class="col-md-5">
        <h5>{{ item.product.title }}</h5>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <button
          class="btn btn-outline-primary me-2"
          (click)="decreaseQuantity(item)"
        >
          -
        </button>
        <span>{{ item.quantity }}</span>
        <button
          class="btn btn-outline-primary ms-2"
          (click)="increaseQuantity(item)"
        >
          +
        </button>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <button
          class="btn btn-outline-danger remove-button"
          (click)="removeItem(item)"
        >
          Remove
        </button>
      </div>
      <div class="col-md-1 d-flex align-items-center">
        <p class="fw-bold">{{ item.product.price }} $</p>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mt-5">
      <h4 class="btn btn-primary">Total: {{ totalPrice }} $</h4>
    </div>
  </div>
  <ng-template #emptyCart>
    <p class="text-white">Your cart is empty.</p>
  </ng-template>
</div>
